*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}

.router{
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.menu{
    width: 120px;
    height: 100%;
    flex-shrink: 0;
    background-color: rgb(187, 201, 255);;
}

.menu_button{
    width: 100%;
    background-color: rgb(110, 139, 255);
    margin: 2px 0px;
    box-sizing: border-box;
    border: none;
}

.menu_button:hover{
    background-color: rgb(58, 98, 255);
}

.menu_button_active{
    background-color: rgb(58, 98, 255);
}

.screen{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.canvas{
    height: 100%;
}

.animated{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #f00;
}